# Copyright 2018-2024 the original author or authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

api = "0.7"

[buildpack]
  description = "A Cloud Native Buildpack that provides the Azul Zulu implementations of JREs and JDKs"
  homepage = "https://github.com/paketo-buildpacks/azul-zulu"
  id = "paketo-buildpacks/azul-zulu"
  keywords = ["java", "jvm", "jre", "jdk"]
  name = "Paketo Buildpack for Azul Zulu"
  sbom-formats = ["application/vnd.syft+json", "application/vnd.cyclonedx+json"]
  version = "{{.version}}"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/azul-zulu/blob/main/LICENSE"

[metadata]
  include-files = ["LICENSE", "NOTICE", "README.md", "linux/amd64/bin/build", "linux/amd64/bin/detect", "linux/amd64/bin/main", "linux/amd64/bin/helper", "linux/arm64/bin/build", "linux/arm64/bin/detect", "linux/arm64/bin/main", "linux/arm64/bin/helper", "buildpack.toml"]
  pre-package = "scripts/build.sh"

  [[metadata.configurations]]
    default = "0"
    description = "the headroom in memory calculation"
    launch = true
    name = "BPL_JVM_HEAD_ROOM"

  [[metadata.configurations]]
    default = "35% of classes"
    description = "the number of loaded classes in memory calculation"
    launch = true
    name = "BPL_JVM_LOADED_CLASS_COUNT"

  [[metadata.configurations]]
    default = "250"
    description = "the number of threads in memory calculation"
    launch = true
    name = "BPL_JVM_THREAD_COUNT"

  [[metadata.configurations]]
    default = ""
    description = "write heap dumps on error to this path"
    launch = true
    name = "BPL_HEAP_DUMP_PATH"

  [[metadata.configurations]]
    default = "true"
    description = "enables Java Native Memory Tracking (NMT)"
    launch = true
    name = "BPL_JAVA_NMT_ENABLED"

  [[metadata.configurations]]
    default = "summary"
    description = "configure level of NMT, summary or detail"
    launch = true
    name = "BPL_JAVA_NMT_LEVEL"

  [[metadata.configurations]]
    default = "false"
    description = "enables Java Management Extensions (JMX)"
    launch = true
    name = "BPL_JMX_ENABLED"

  [[metadata.configurations]]
    default = "5000"
    description = "configure the JMX port"
    launch = true
    name = "BPL_JMX_PORT"

  [[metadata.configurations]]
    default = "false"
    description = "enables Java remote debugging support"
    launch = true
    name = "BPL_DEBUG_ENABLED"

  [[metadata.configurations]]
    default = "8000"
    description = "configure the remote debugging port"
    launch = true
    name = "BPL_DEBUG_PORT"

  [[metadata.configurations]]
    default = "false"
    description = "configure whether to suspend execution until a debugger has attached"
    launch = true
    name = "BPL_DEBUG_SUSPEND"

  [[metadata.configurations]]
    default = "false"
    description = "enables Java Flight Recording (JFR)"
    launch = true
    name = "BPL_JFR_ENABLED"

  [[metadata.configurations]]
    default = ""
    description = "configure custom Java Flight Recording (JFR) arguments"
    launch = true
    name = "BPL_JFR_ARGS"

  [[metadata.configurations]]
    build = true
    default = "false"
    description = "enables running jlink tool to generate custom JRE"
    name = "BP_JVM_JLINK_ENABLED"

  [[metadata.configurations]]
    build = true
    default = "--no-man-pages --no-header-files --strip-debug --compress=1"
    description = "configure custom link arguments (--output must be omitted)"
    name = "BP_JVM_JLINK_ARGS"

  [[metadata.configurations]]
    build = true
    default = "21"
    description = "the Java version"
    name = "BP_JVM_VERSION"

  [[metadata.configurations]]
    build = true
    default = "JRE"
    description = "the JVM type - JDK or JRE"
    name = "BP_JVM_TYPE"

  [[metadata.configurations]]
    description = "the JVM launch flags"
    launch = true
    name = "JAVA_TOOL_OPTIONS"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:1.8.0:update482:*:*:*:*:*:*", "cpe:2.3:a:azul:zulu:1.8.0:update482:*:*:*:*:*:*"]
    id = "jdk"
    name = "Azul Zulu JDK"
    purl = "pkg:generic/azul-zulu-jdk@8.0.472?arch=amd64"
    sha256 = "47d09e2fd824bb34c7e46fa086ca4ab9ddbf7fbae34ffe9bb4baedf4659631e1"
    stacks = ["*"]
    uri = "https://cdn.azul.com/zulu/bin/zulu8.92.0.19-ca-jdk8.0.482-linux_x64.tar.gz"
    version = "8.0.482"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jre:1.8.0:update482:*:*:*:*:*:*", "cpe:2.3:a:azul:zulu:1.8.0:update482:*:*:*:*:*:*"]
    id = "jre"
    name = "Azul Zulu JRE"
    purl = "pkg:generic/azul-zulu-jre@8.0.472?arch=amd64"
    sha256 = "4a54230aa4e62b556aef9d76e8ba9ae770d74fde53388a67737b0609be4ca025"
    stacks = ["*"]
    uri = "https://cdn.azul.com/zulu/bin/zulu8.92.0.19-ca-jre8.0.482-linux_x64.tar.gz"
    version = "8.0.482"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:11.0.30:*:*:*:*:*:*:*", "cpe:2.3:a:azul:zulu:11.0.30:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Azul Zulu JDK"
    purl = "pkg:generic/azul-zulu-jdk@11.0.30?arch=amd64"
    sha256 = "88175af4f67ccd51a0bd0b461af11e83511cd7b38bbe79259c0a545431bf636b"
    stacks = ["*"]
    uri = "https://cdn.azul.com/zulu/bin/zulu11.86.21-ca-jdk11.0.30-linux_x64.tar.gz"
    version = "11.0.30"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jre:11.0.30:*:*:*:*:*:*:*", "cpe:2.3:a:azul:zulu:11.0.30:*:*:*:*:*:*:*"]
    id = "jre"
    name = "Azul Zulu JRE"
    purl = "pkg:generic/azul-zulu-jre@11.0.30?arch=amd64"
    sha256 = "17afea0d150657eacd7cd6597c5bfeaeb0ba13df8627fa31feec7d07e1a06f51"
    stacks = ["*"]
    uri = "https://cdn.azul.com/zulu/bin/zulu11.86.19-ca-jre11.0.30-linux_x64.tar.gz"
    version = "11.0.30"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:17.0.18:*:*:*:*:*:*:*", "cpe:2.3:a:azul:zulu:17.0.18:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Azul Zulu JDK"
    purl = "pkg:generic/azul-zulu-jdk@17.0.18?arch=amd64"
    sha256 = "48dcbcb09f9802b144347b164080df762ddbd0077966e273116c973edb3020ef"
    stacks = ["*"]
    uri = "https://cdn.azul.com/zulu/bin/zulu17.64.15-ca-jdk17.0.18-linux_x64.tar.gz"
    version = "17.0.18"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jre:17.0.18:*:*:*:*:*:*:*", "cpe:2.3:a:azul:zulu:17.0.18:*:*:*:*:*:*:*"]
    id = "jre"
    name = "Azul Zulu JRE"
    purl = "pkg:generic/azul-zulu-jre@17.0.18?arch=amd64"
    sha256 = "54facaef98a24c159b33d455b5463a1b3bcb4a63ec5da7dfda64d3ae62415b5f"
    stacks = ["*"]
    uri = "https://cdn.azul.com/zulu/bin/zulu17.64.15-ca-jre17.0.18-linux_x64.tar.gz"
    version = "17.0.18"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:21.0.10:*:*:*:*:*:*:*", "cpe:2.3:a:azul:zulu:21.0.10:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Azul Zulu JDK"
    purl = "pkg:generic/azul-zulu-jdk@21.0.10?arch=amd64"
    sha256 = "7f15f667580a8977962dc0a709cf2a097cc71244614fad3f236debce9d1c2670"
    stacks = ["*"]
    uri = "https://cdn.azul.com/zulu/bin/zulu21.48.15-ca-jdk21.0.10-linux_x64.tar.gz"
    version = "21.0.10"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jre:21.0.10:*:*:*:*:*:*:*", "cpe:2.3:a:azul:zulu:21.0.10:*:*:*:*:*:*:*"]
    id = "jre"
    name = "Azul Zulu JRE"
    purl = "pkg:generic/azul-zulu-jre@21.0.10?arch=amd64"
    sha256 = "becac14732a3f2650bf930b5fc0253680253c6ffd9a9583384e2d4034aa89d30"
    stacks = ["*"]
    uri = "https://cdn.azul.com/zulu/bin/zulu21.48.15-ca-jre21.0.10-linux_x64.tar.gz"
    version = "21.0.10"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:22.0.2:*:*:*:*:*:*:*", "cpe:2.3:a:azul:zulu:22.0.2:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Azul Zulu JDK"
    purl = "pkg:generic/azul-zulu-jdk@22.0.2?arch=amd64"
    sha256 = "d48c661239200f9507480f91f99285794f9e484786c605015bc5bf0e19eb6613"
    stacks = ["*"]
    uri = "https://cdn.azul.com/zulu/bin/zulu22.32.15-ca-jdk22.0.2-linux_x64.tar.gz"
    version = "22.0.2"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:25.0.2:*:*:*:*:*:*:*", "cpe:2.3:a:azul:zulu:25.0.2:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Azul Zulu JDK"
    purl = "pkg:generic/azul-zulu-jdk@25.0.2?arch=amd64"
    sha256 = "f1752d0051b6ca233625ddb2c18c9170edbe55c5ee6515bfefd8ea0197ee1c20"
    stacks = ["*"]
    uri = "https://cdn.azul.com/zulu/bin/zulu25.32.17-ca-jdk25.0.2-linux_x64.tar.gz"
    version = "25.0.2"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jre:25.0.2:*:*:*:*:*:*:*", "cpe:2.3:a:azul:zulu:25.0.2:*:*:*:*:*:*:*"]
    id = "jre"
    name = "Azul Zulu JRE"
    purl = "pkg:generic/azul-zulu-jre@25.0.2?arch=amd64"
    sha256 = "f32ceb10f61aaf49b22ec34fff8cd0377c2b3aef33b8d59a15952123a91ea0a1"
    stacks = ["*"]
    uri = "https://cdn.azul.com/zulu/bin/zulu25.32.17-ca-jre25.0.2-linux_x64.tar.gz"
    version = "25.0.2"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:1.8.0:update482:*:*:*:*:*:*", "cpe:2.3:a:azul:zulu:1.8.0:update482:*:*:*:*:*:*"]
    id = "jdk"
    name = "Azul Zulu JDK"
    purl = "pkg:generic/azul-zulu-jdk@8.0.472?arch=arm64"
    sha256 = "133b76c75c1f740a3149cac1d886061637d479997f4c51221b4fca8ea9f4e46f"
    stacks = ["*"]
    uri = "https://cdn.azul.com/zulu/bin/zulu8.92.0.19-ca-jdk8.0.482-linux_aarch64.tar.gz"
    version = "8.0.482"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jre:1.8.0:update482:*:*:*:*:*:*", "cpe:2.3:a:azul:zulu:1.8.0:update482:*:*:*:*:*:*"]
    id = "jre"
    name = "Azul Zulu JRE"
    purl = "pkg:generic/azul-zulu-jre@8.0.472?arch=arm64"
    sha256 = "a5aff4c32e4464d4413d6faf05ee604eff9bad967828199fd5060590a16a9676"
    stacks = ["*"]
    uri = "https://cdn.azul.com/zulu/bin/zulu8.92.0.19-ca-jre8.0.482-linux_aarch64.tar.gz"
    version = "8.0.482"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:11.0.30:*:*:*:*:*:*:*", "cpe:2.3:a:azul:zulu:11.0.30:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Azul Zulu JDK"
    purl = "pkg:generic/azul-zulu-jdk@11.0.30?arch=arm64"
    sha256 = "f8a8c986784d6098599bfde46d64abe3297afd867bff845e20e0da86a859bc72"
    stacks = ["*"]
    uri = "https://cdn.azul.com/zulu/bin/zulu11.86.19-ca-jdk11.0.30-linux_aarch64.tar.gz"
    version = "11.0.30"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jre:11.0.30:*:*:*:*:*:*:*", "cpe:2.3:a:azul:zulu:11.0.30:*:*:*:*:*:*:*"]
    id = "jre"
    name = "Azul Zulu JRE"
    purl = "pkg:generic/azul-zulu-jre@11.0.30?arch=arm64"
    sha256 = "e4a775f0606dfb5829835d04b4c50fa3648d9d650fb8511790261e18e66db628"
    stacks = ["*"]
    uri = "https://cdn.azul.com/zulu/bin/zulu11.86.19-ca-jre11.0.30-linux_aarch64.tar.gz"
    version = "11.0.30"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:17.0.18:*:*:*:*:*:*:*", "cpe:2.3:a:azul:zulu:17.0.18:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Azul Zulu JDK"
    purl = "pkg:generic/azul-zulu-jdk@17.0.18?arch=arm64"
    sha256 = "a52f1ca5040ae7d20840e6d4ca22d10f91ac816e433939fd07116cbd5e64a7fe"
    stacks = ["*"]
    uri = "https://cdn.azul.com/zulu/bin/zulu17.64.15-ca-jdk17.0.18-linux_aarch64.tar.gz"
    version = "17.0.18"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jre:17.0.18:*:*:*:*:*:*:*", "cpe:2.3:a:azul:zulu:17.0.18:*:*:*:*:*:*:*"]
    id = "jre"
    name = "Azul Zulu JRE"
    purl = "pkg:generic/azul-zulu-jre@17.0.18?arch=arm64"
    sha256 = "c6ba91af1150bc87af618b6845bf23c453adc7ba6a502193ce9a5e204ef68ae8"
    stacks = ["*"]
    uri = "https://cdn.azul.com/zulu/bin/zulu17.64.15-ca-jre17.0.18-linux_aarch64.tar.gz"
    version = "17.0.18"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:21.0.10:*:*:*:*:*:*:*", "cpe:2.3:a:azul:zulu:21.0.10:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Azul Zulu JDK"
    purl = "pkg:generic/azul-zulu-jdk@21.0.10?arch=arm64"
    sha256 = "ee099fc59a9503f85dd38f101bff9a7c7de70efc891728102b30643b9aac2206"
    stacks = ["*"]
    uri = "https://cdn.azul.com/zulu/bin/zulu21.48.15-ca-jdk21.0.10-linux_aarch64.tar.gz"
    version = "21.0.10"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jre:21.0.10:*:*:*:*:*:*:*", "cpe:2.3:a:azul:zulu:21.0.10:*:*:*:*:*:*:*"]
    id = "jre"
    name = "Azul Zulu JRE"
    purl = "pkg:generic/azul-zulu-jre@21.0.10?arch=arm64"
    sha256 = "4454376b8023c1aaa11a3575f19a3f64059b184929d20d7286002c7de2f73397"
    stacks = ["*"]
    uri = "https://cdn.azul.com/zulu/bin/zulu21.48.15-ca-jre21.0.10-linux_aarch64.tar.gz"
    version = "21.0.10"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:25.0.2:*:*:*:*:*:*:*", "cpe:2.3:a:azul:zulu:25.0.2:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Azul Zulu JDK"
    purl = "pkg:generic/azul-zulu-jdk@25.0.2?arch=arm64"
    sha256 = "f7295abb1decb2f6e0ea9f760a70917f2d47356db4366d615c7ab9b01c3c6866"
    stacks = ["*"]
    uri = "https://cdn.azul.com/zulu/bin/zulu25.32.17-ca-jdk25.0.2-linux_aarch64.tar.gz"
    version = "25.0.2"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jre:25.0.2:*:*:*:*:*:*:*", "cpe:2.3:a:azul:zulu:25.0.2:*:*:*:*:*:*:*"]
    id = "jre"
    name = "Azul Zulu JRE"
    purl = "pkg:generic/azul-zulu-jre@25.0.2?arch=arm64"
    sha256 = "86b30fcd98372596e4a260211fc4fb74b1dc77f870fbfbf0d7fb8e3398556cb8"
    stacks = ["*"]
    uri = "https://cdn.azul.com/zulu/bin/zulu25.32.17-ca-jre25.0.2-linux_aarch64.tar.gz"
    version = "25.0.2"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

[[stacks]]
  id = "*"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
