# Copyright 2018-2020 the original author or authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

api = "0.2"

[buildpack]
id      = "packetoio/azul-zulu"
name    = "Paketo Azul Zulu Buildpack"
version = "{{.Version}}"

[[stacks]]
id = "io.buildpacks.stacks.bionic"

[metadata.default-versions]
openjdk-jdk = "11.*"
openjdk-jre = "11.*"

[[metadata.dependencies]]
id      = "jre"
name    = "Azul Zulu JRE"
version = "8.0.242"
uri     = "https://repos.azul.com/azure-only/zulu/packages/zulu-8/8u242/zulu-8-azure-jre_8.44.0.9-8.0.242-linux_x64.tar.gz"
sha256  = "ff4a0047952f886d03d3bd77d88eb0f8e4d3ba9f3d08e74815ee6f23393dd44c"
stacks  = [ "io.buildpacks.stacks.bionic" ]

  [[metadata.dependencies.licenses]]
  type = "GPL-2.0 WITH Classpath-exception-2.0"
  uri  = "https://openjdk.java.net/legal/gplv2+ce.html"

[[metadata.dependencies]]
id      = "jre"
name    = "Azul Zulu JRE"
version = "11.0.6"
uri     = "https://repos.azul.com/azure-only/zulu/packages/zulu-11/11.0.6/zulu-11-azure-jre_11.37.17-11.0.6-linux_x64.tar.gz"
sha256  = "35b0d03e779253c82a1ad9ec25c07b2541f04909d6e94e9864744a8d846edaba"
stacks  = [ "io.buildpacks.stacks.bionic" ]

  [[metadata.dependencies.licenses]]
  type = "GPL-2.0 WITH Classpath-exception-2.0"
  uri  = "https://openjdk.java.net/legal/gplv2+ce.html"

[[metadata.dependencies]]
id      = "jre"
name    = "Azul Zulu JRE"
version = "13.0.2"
uri     = "https://repos.azul.com/azure-only/zulu/packages/zulu-13/13.0.2/zulu-13-azure-jre_13.29.9-13.0.2-linux_x64.tar.gz"
sha256  = "cf78d16b5f91934e7b86c558add943fe683c751e2972394567b0901af5da4b0d"
stacks  = [ "io.buildpacks.stacks.bionic" ]

  [[metadata.dependencies.licenses]]
  type = "GPL-2.0 WITH Classpath-exception-2.0"
  uri  = "https://openjdk.java.net/legal/gplv2+ce.html"

[[metadata.dependencies]]
id      = "jdk"
name    = "Azul Zulu JDK"
version = "8.0.242"
uri     = "https://repos.azul.com/azure-only/zulu/packages/zulu-8/8u242/zulu-8-azure-jdk_8.44.0.9-8.0.242-linux_x64.tar.gz"
sha256  = "541769f12fe7042b8b5f8eb48cdb33dd8230ddb806ad4ab78fcc8125a237d70b"
stacks  = [ "io.buildpacks.stacks.bionic" ]

  [[metadata.dependencies.licenses]]
  type = "GPL-2.0 WITH Classpath-exception-2.0"
  uri  = "https://openjdk.java.net/legal/gplv2+ce.html"

[[metadata.dependencies]]
id      = "jdk"
name    = "Azul Zulu JDK"
version = "11.0.6"
uri     = "https://repos.azul.com/azure-only/zulu/packages/zulu-11/11.0.6/zulu-11-azure-jdk_11.37.17-11.0.6-linux_x64.tar.gz"
sha256  = "d3ebf741b0c867fe72d3ca8c7245a7397e5a18a41b9a1aa6b4d72dd325f50838"
stacks  = [ "io.buildpacks.stacks.bionic" ]

  [[metadata.dependencies.licenses]]
  type = "GPL-2.0 WITH Classpath-exception-2.0"
  uri  = "https://openjdk.java.net/legal/gplv2+ce.html"

[[metadata.dependencies]]
id      = "jdk"
name    = "Azul Zulu JDK"
version = "13.0.2"
uri     = "https://repos.azul.com/azure-only/zulu/packages/zulu-13/13.0.2/zulu-13-azure-jdk_13.29.9-13.0.2-linux_x64.tar.gz"
sha256  = "placeholder"
stacks  = [ "io.buildpacks.stacks.bionic" ]

  [[metadata.dependencies.licenses]]
  type = "GPL-2.0 WITH Classpath-exception-2.0"
  uri  = "https://openjdk.java.net/legal/gplv2+ce.html"

[[metadata.dependencies]]
id      = "jvmkill"
name    = "JVMKill Agent"
version = "1.16.0-RELEASE"
uri     = "https://java-buildpack.cloudfoundry.org/jvmkill/bionic/x86_64/jvmkill-1.16.0-RELEASE.so"
sha256  = "a3092627b082cb3cdbbe4b255d35687126aa604e6b613dcda33be9f7e1277162"
stacks  = [ "io.buildpacks.stacks.bionic" ]

  [[metadata.dependencies.licenses]]
  type = "Apache-2.0"
  uri  = "https://github.com/cloudfoundry/jvmkill/blob/master/LICENSE"

[[metadata.dependencies]]
id      = "memory-calculator"
name    = "Memory Calculator"
version = "4.0.0"
uri     = "https://java-buildpack.cloudfoundry.org/memory-calculator/bionic/x86_64/memory-calculator-4.0.0.tgz"
sha256  = "90d40eab6959a7b4059c6409c4505040e8a04f75a481f7282e53430df3edda3e"
stacks  = [ "io.buildpacks.stacks.bionic" ]

  [[metadata.dependencies.licenses]]
  type = "Apache-2.0"
  uri  = "https://github.com/cloudfoundry/java-buildpack-memory-calculator/blob/master/LICENSE"

[metadata]
pre-package   = "scripts/build.sh"
include-files = [
  "LICENSE",
  "NOTICE",
  "README.md",
  "bin/build",
  "bin/class-counter",
  "bin/detect",
  "bin/link-local-dns",
  "bin/security-providers-configurer",
  "buildpack.toml",
]
